<%- include('../partials/adminhead.ejs') %>
<%- include('../partials/adminheader.ejs') %>


<style>

body {
    padding-bottom:100px
}

.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.icon-lg {
    width: 72px;
    height: 72px;
    font-size: 32px;
}
.icon-xs, .icon-sm, .icon-md, .icon-lg {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
    flex-grow: 0;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.37rem;
    margin-bottom: 25px;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
}

.card-product-grid .bottom-wrap {
    padding: 18px;
    border-top: 1px solid #e4e4e4;
}
.card-product-grid .info-wrap {
    overflow: hidden;
    padding: 18px 20px;
}
.nav-link {
    display: block;
    padding: 0.5rem 0.9rem;
    font-weight: 400;
    color: #51585e;
    transition: color .1s ease-in-out,background-color .1s ease-in-out,border-color .1s ease-in-out;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #FFF;
    background-color: #630436;
}
.btn-primary {
  background-color: #630436;
  color:#FFF;
  border-color: #630436;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-default {
  background-color: #fff;
  color:#630436;
  border-color: #630436;
 }
a:not([href]):not([tabindex]) {
    color:#fff;
}
.btn-outline-primary {
    background-color: #630436;
    color:#FFF;
    border-color: #630436;
}
.btn-outline-primary:hover, .btn-outline-primary.active {
    color:#630436;
    border-color: #630436;
    background-color: transparent;
    background-image: none;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color:#630436;
    border-color: #630436;
    background-color: transparent;
    background-image: none;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    background-color: rgba(0,0,0,0);
}
table {
    border-collapse: collapse;
}
user agent stylesheet
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
.flex-grow-1 {
    flex-grow: 1 !important;
}
.dashbaordtop {
    margin-bottom: 20px;

}




</style>
<div class="container-fluid plr_30 body_white_bg pt_30">
<h1 id="welcome-message" class="display-4 text-center"></h1>
<p class="lead text-center">Live data processing</p>

<div class="container">
    <div class="row">
          <aside class="col-lg-3">
            <!-- DashBoard SIDEBAR LIST -->
                <div class="card p-3 h-100">
                      <nav class="nav flex-column nav-pills">
                        <a class="nav-link" href="#">Store Account</a>
                        <a class="nav-link active" href="#">Dashboard</a>
                        <a class="nav-link" href="#">Orders history</a>
                        <a class="nav-link" href="#">Transactions</a>
                        <a class="nav-link" href="#">Profile setting</a>
                        <a class="nav-link" href="#">Log out</a>
                      </nav>
                </div>
            <!-- DashBoard SIDEBAR LIST -->
          </aside>

            <div class="padding col-lg-9">

                <article class="card-group card-stat dashbaordtop">
                     <figure class="card">
                         <div class="p-3">
                              <h4 id="ActiveUsers" class="title">0</h4>
                             <span>Active Users</span>
                         </div>
                     </figure>
                     <figure class="card">
                         <div class="p-3">
                              <h4 id="EmptyBaskets" class="title">0</h4>
                             <span>Empty Baskets</span>
                         </div>
                     </figure>
                     <figure class="card">
                         <div class="p-3">
                              <h4 id="InuseBaskets" class="title">0</h4>
                             <span>In use Baskets</span>
                         </div>
                     </figure>
                     <figure class="card">
                         <div class="p-3">
                              <h4 id="CurrentTime" class="title">00:00</h4>
                             <span>Current Time</span>
                         </div>
                     </figure>
               </article>

                <div id="userdatacard">
                <!-- User Info Card is Inserted here with JavaScript -->
                </div>

                <h2 class="mb-0 text-success"> Active Store Users - *This is what it will look like*</h2>
                <div id="accordion">
                      <div class="card">
                           <div class="card-header" id="headingOne">
                              <h5 class="mb-0">
                                 <header class="d-md-flex">
                                    <div class="flex-grow-1">
                                       <img src="/images/usericon.png" class="icon-md img-avatar" width="80" height="80">
                                       <span>Name: Mr. Jackson Mike</span>
                                    </div>
                                    <div>
                                       <a href="#" class="btn btn-sm btn-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">View Details </a>
                                    </div>
                                 </header>
                              </h5>
                           </div>
                           <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">

                               <div class="card-body">

                                   <div class="row">
                                        <div class="col-md-8">
                                            <h6 class="text-muted">Details</h6>
                                            <p>Michael Jackson <br> Phone +1234567890 Email: myname@gmail.com <br> Location: Home number, Building name, Street 123</p>
                                        </div>
                                        <div class="col-md-4">
                                            <h6 class="text-muted">Payment</h6>
                                            <span class="text-success">
                                                <i class="fab fa-lg fa-cc-visa"></i> Visa **** 4216 </span>
                                            <p>Subtotal: $356 <br>
                                                <span class="b">Total: $456 </span>
                                            </p>
                                        </div>
                                   </div>


                                  <article class="card-group card-stat">
                                        <figure class="card">
                                            <div class="p-3">
                                                 <h4 class="title">38</h4>
                                                <span>Orders</span>
                                            </div>
                                        </figure>
                                        <figure class="card">
                                            <div class="p-3">
                                                 <h4 class="title">5</h4>
                                                <span>Wishlists</span>
                                            </div>
                                        </figure>
                                        <figure class="card">
                                            <div class="p-3">
                                                 <h4 class="title">12</h4>
                                                <span>Awaiting delivery</span>
                                            </div>
                                        </figure>
                                        <figure class="card">
                                            <div class="p-3">
                                                 <h4 class="title">50</h4>
                                                <span>Delivered items</span>
                                            </div>
                                        </figure>
                                  </article>


                                  <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr>
                                                    <td width="65">
                                                        <img src="images/8711327483071.h-30012247-png.jpg" width="60" height="60" class="img-xs border">
                                                    </td>
                                                    <td>
                                                        <p class="title mb-0">Product name goes here </p>
                                                        <var class="price text-muted">USD 145</var>
                                                    </td>
                                                    <td> Seller <br> Nike clothing </td>
                                                    <td width="250">
                                                        <h6>Quantity: x2</h6>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <img src="images/8711327483071.h-30012247-png.jpg" width="60" height="60" class="img-xs border">
                                                    </td>
                                                    <td>
                                                        <p class="title mb-0">Another name goes here </p>
                                                        <var class="price text-muted">USD 15</var>
                                                    </td>
                                                    <td> Seller <br> ABC shop </td>
                                                    <td>
                                                        <h6>Quantity: x2</h6>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <img src="images/8711327483071.h-30012247-png.jpg" width="60" height="60" class="img-xs border">
                                                    </td>
                                                    <td>
                                                        <p class="title mb-0">The name of the product goes here </p>
                                                        <var class="price text-muted">USD 145</var>
                                                    </td>
                                                    <td> Seller <br> Wallmart </td>
                                                    <td>
                                                        <h6>Quantity: x2</h6>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                              </div>
                           </div>
                      </div>
                </div>

                <div id="accordion1">
                  <div class="card">
                       <div class="card-header" id="headingTwo">
                          <h5 class="mb-0">
                             <header class="d-md-flex">
                                <div class="flex-grow-1">
                                   <img src="/images/usericon.png" class="icon-md img-avatar" width="80" height="80">
                                   <span>Name: Mr. Jackson Mike</span>
                                </div>
                                <div>
                                   <a href="#" class="btn btn-sm btn-primary" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">View Details </a>
                                </div>
                             </header>
                          </h5>
                       </div>
                       <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion1">

                           <div class="card-body">

                               <div class="row">
                                    <div class="col-md-8">
                                        <h6 class="text-muted">Details</h6>
                                        <p style="margin:0px">Michael Jackson</p>
                                        <p style="margin:0px">Phone +1234567890 Email: myname@gmail.com</p>
                                        <p style="margin:0px">Location: Home number, Building name, Street 123</p>

                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="text-muted">Payment</h6>
                                         <span class="text-success">Visa **** 4216 </span>
                                         <p style="margin:0px">Subtotal: $356</p>
                                         <span style="margin:0px" class="b">Total: $456 </span>

                                    </div>
                               </div>


                              <article class="card-group card-stat">
                                    <figure class="card">
                                        <div class="p-3">
                                             <h4 class="title">38</h4>
                                            <span>Orders</span>
                                        </div>
                                    </figure>
                                    <figure class="card">
                                        <div class="p-3">
                                             <h4 class="title">5</h4>
                                            <span>Wishlists</span>
                                        </div>
                                    </figure>
                                    <figure class="card">
                                        <div class="p-3">
                                             <h4 class="title">12</h4>
                                            <span>Awaiting delivery</span>
                                        </div>
                                    </figure>
                                    <figure class="card">
                                        <div class="p-3">
                                             <h4 class="title">50</h4>
                                            <span>Delivered items</span>
                                        </div>
                                    </figure>
                              </article>


                              <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr>
                                                <td width="65">
                                                    <img src="images/8711327483071.h-30012247-png.jpg" width="60" height="60" class="img-xs border">
                                                </td>
                                                <td>
                                                    <p class="title mb-0">Product name goes here </p>
                                                    <var class="price text-muted">USD 145</var>
                                                </td>
                                                <td> Seller <br> Nike clothing </td>
                                                <td width="250">
                                                    <h6>Quantity: x2</h6>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="images/8711327483071.h-30012247-png.jpg" width="60" height="60" class="img-xs border">
                                                </td>
                                                <td>
                                                    <p class="title mb-0">Another name goes here </p>
                                                    <var class="price text-muted">USD 15</var>
                                                </td>
                                                <td> Seller <br> ABC shop </td>
                                                <td>
                                                    <h6>Quantity: x2</h6>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="images/8711327483071.h-30012247-png.jpg" width="60" height="60" class="img-xs border">
                                                </td>
                                                <td>
                                                    <p class="title mb-0">The name of the product goes here </p>
                                                    <var class="price text-muted">USD 145</var>
                                                </td>
                                                <td> Seller <br> Wallmart </td>
                                                <td>
                                                    <h6>Quantity: x2</h6>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                          </div>
                       </div>
                  </div>
        </div>



          </div>
</div>

<script src="javascripts/getStoreData.js"></script>


<%- include('../partials/footer.ejs') %>

