<%- include('../partials/adminhead.ejs') %>
<%- include('../partials/adminheader.ejs') %>


<style>

body {
    padding-bottom:100px
}

.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.icon-lg {
    width: 72px;
    height: 72px;
    font-size: 32px;
}
.icon-xs, .icon-sm, .icon-md, .icon-lg {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
    flex-grow: 0;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.37rem;
    margin-bottom: 25px;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
}
.tag {
    display: inline-block;
    padding: 3px 7px;
    background: #f2f2f2;
    border: 1px solid #eee;
    border-radius: 3px;
    margin-top: 4px;
    margin-right: 2px;
    font-size: 85%;
}
.card-product-grid .bottom-wrap {
    padding: 18px;
    border-top: 1px solid #e4e4e4;
}
.card-product-grid .info-wrap {
    overflow: hidden;
    padding: 18px 20px;
}
.nav-link {
    display: block;
    padding: 0.5rem 0.9rem;
    font-weight: 400;
    color: #51585e;
    transition: color .1s ease-in-out,background-color .1s ease-in-out,border-color .1s ease-in-out;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #FFF;
    background-color: #630436;
}
.btn-primary {
  background-color: #630436;
  color:#FFF;
  border-color: #630436;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-default {
  background-color: #fff;
  color:#630436;
  border-color: #630436;
 }
a:not([href]):not([tabindex]) {
    color:#fff;
}
.btn-outline-primary {
    background-color: #630436;
    color:#FFF;
    border-color: #630436;
}
.btn-outline-primary:hover, .btn-outline-primary.active {
    color:#630436;
    border-color: #630436;
    background-color: transparent;
    background-image: none;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color:#630436;
    border-color: #630436;
    background-color: transparent;
    background-image: none;
}
.searchproduct {
    margin-left: 10px;
}

.filtersidebar {
    margin-bottom: 50px;
}

.white_card {
    background-color: #FFFFFF;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


</style>
<div class="container-fluid plr_30 body_white_bg pt_30">
<h1 id="welcome-message" class="display-4 text-center"></h1>
<p class="lead text-center">Live data processing</p>


    <div class="row gy-3">
  <div class="col-lg-4 col-md-4">
    <article class="card content-body">
      <div class="text-center mx-lg-4">
        <span class="rounded-circle text-primary icon-lg bg-primary-light">
          <i class="fa fa-user"></i>
        </span>
        <div class="pt-3">
          <h3 class="title">In Store Users</h3>
            <h4 id="numberofuser" class="mb-0"> 0</h4>
        </div>
      </div>
      <!-- itemside // -->
    </article>
    <!-- card.// -->
  </div>
  <!-- col // -->
  <div class="col-lg-4 col-md-4">
    <article class="card content-body">
      <div class="text-center mx-lg-4">
        <span class="rounded-circle text-primary icon-lg bg-primary-light">
          <i class="fa-solid fa-user-clock"></i>
        </span>
        <div class="pt-3">
          <h3 class="title">Current Time </h3>
          <h4 id="currenttime" class="mb-0">0:00</h4>
        </div>
      </div>
      <!-- itemside // -->
    </article>
    <!-- card.// -->
  </div>
  <!-- col // -->
  <div class="col-lg-4 col-md-4">
    <article class="card content-body">
      <div class="text-center mx-lg-4">
        <span class="rounded-circle text-primary icon-lg bg-primary-light">
          <i class="fa fa-box"></i>
        </span>
        <div class="pt-3">
          <h3 class="title">*Some other Metric*</h3>
          <h4 class="mb-0">*Some other Metric* </h4>
        </div>
      </div>
      <!-- itemside // -->
    </article>
    <!-- card.// -->
  </div>
  <!-- col // -->
</div>


<div class="row">
  <aside class="col-lg-3">
    <!-- Dashbaord SIDEBAR LIST -->
    <div class="card p-3 h-100">
      <nav class="nav flex-column nav-pills">
        <a class="nav-link" href="#">Store Account</a>
        <a class="nav-link active" href="#">Dashboard</a>
        <a class="nav-link" href="#">Orders history</a>
        <a class="nav-link" href="#">Transactions</a>
        <a class="nav-link" href="#">Profile setting</a>
        <a class="nav-link" href="#">Log out</a>
      </nav>
    </div>
    <!-- Dashbaord SIDEBAR LIST -->
  </aside>
</div>


<h1 id="test"></h1>

</div>

<script src="javascripts/getStoreData.js"></script>


<%- include('../partials/footer.ejs') %>

