<%- include('partials/adminhead.ejs') %>
<%- include('partials/adminheader.ejs') %>


<style>

body {
    padding-bottom:100px
}

.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.icon-lg {
    width: 72px;
    height: 72px;
    font-size: 32px;
}
.icon-xs, .icon-sm, .icon-md, .icon-lg {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
    flex-grow: 0;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.37rem;
    margin-bottom: 25px;
}

.card-product-grid .bottom-wrap {
    padding: 18px;
    border-top: 1px solid #e4e4e4;
}
.card-product-grid .info-wrap {
    overflow: hidden;
    padding: 18px 20px;
}
.nav-link {
    display: block;
    padding: 0.5rem 0.9rem;
    font-weight: 400;
    color: #51585e;
    transition: color .1s ease-in-out,background-color .1s ease-in-out,border-color .1s ease-in-out;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #FFF;
    background-color: #630436;
}
.btn-primary {
  background-color: #630436;
  color:#FFF;
  border-color: #630436;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-default {
  background-color: #fff;
  color:#630436;
  border-color: #630436;
 }
a:not([href]):not([tabindex]) {
    color:#fff;
}
.btn-outline-primary {
    background-color: #630436;
    color:#FFF;
    border-color: #630436;
}
.btn-outline-primary:hover, .btn-outline-primary.active {
    color:#630436;
    border-color: #630436;
    background-color: transparent;
    background-image: none;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color:#630436;
    border-color: #630436;
    background-color: transparent;
    background-image: none;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    background-color: rgba(0,0,0,0);
}
table {
    border-collapse: collapse;
}
user agent stylesheet
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
.flex-grow-1 {
    flex-grow: 1 !important;
}
.dashbaordtop {
    margin-bottom: 20px;

}


span {
    margin-left: 7px;
}

.list-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.125);
    color: #2D8180
}
.list-group-item.active{
    z-index: 2;
    color: #fff;
    background-color: #2D8180;
    border-color: rgba(0,0,0,0);
}
.list-group-item:Hover{
    z-index: 2;
    color: #2D8180;
    background-color: #d4d9d9;
    border-color: rgba(0,0,0,0);
}


</style>
<div class="container-fluid plr_30 body_white_bg pt_30" style="max-width: 1800px">
<h1 id="welcome-message" class="display-4 text-center"></h1>
<p class="lead text-center">Store Profile Settings</p>

<div class="container">
    <div class="row">
          <aside class="col-lg-3">
            <!-- DashBoard SIDEBAR LIST -->

              <nav class="list-group nav-pills">
                    <a class="list-group-item" href="/admin-store"><i class="fa fa-gears"></i> Store Settings</a>
                    <a class="list-group-item" href="/admin"><i class="fa fa-shield"></i> Security Dashboard</a>
                    <a class="list-group-item" href="/admin-orders"><i class="fa fa-shopping-bag"></i> Store Orders</a>
                    <a class="active list-group-item" href="/admin-profile"><i class="fa fa-address-card"></i> Store Profile</a>
                    <a class="list-group-item" href="#" onclick="displayLogoutMsg()"><i class="fa fa-lock"></i> Log out</a>
              </nav>
            <!-- DashBoard SIDEBAR LIST -->
          </aside>

            <main class="col-md-9">
              <div class="card">
                <div class="card-body">
                  <form class="row">
                    <div class="col-md-9">
                      <div class="form-row">
                        <div class="col form-group">
                          <label>Name</label>
                          <input type="text" class="form-control" placeholder="Store Name">
                        </div>
                        <!-- form-group end.// -->
                        <div class="col form-group">
                          <label>Email</label>
                          <!--<input type="email" class="form-control" placeholder="Store Email" value="StoreAdminEmail@store.com">-->
                          <input type="email" class="form-control" placeholder="Store Email">
                        </div>
                        <!-- form-group end.// -->
                      </div>
                      <div class="form-row">
                        <div class="col form-group">
                          <label>Address line 1</label>
                          <textarea class="form-control" placeholder="Address line 1" rows="3"></textarea>
                        </div>
                        <!-- form-group end.// -->
                        <div class="col form-group">
                          <label>Address line 2</label>
                          <textarea class="form-control" placeholder="Address line 2" rows="3"></textarea>
                        </div>
                        <!-- form-group end.// -->
                      </div>
                      <!-- form-row.// -->
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>County</label>
                          <select id="inputState" class="form-control">
                              <option> Choose...</option>

                              <option value="Carlow">Carlow</option>

                              <option value="Cavan">Cavan</option>

                              <option value="Clare">Clare</option>

                              <option value="Cork">Cork</option>

                              <option value="Donegal">Donegal</option>

                              <option value="Dublin" selected="">Dublin</option>

                              <option value="Galway">Galway</option>

                              <option value="Kerry">Kerry</option>

                              <option value="Kildare">Kildare</option>

                              <option value="Kilkenny">Kilkenny</option>

                              <option value="Laois">Laois</option>

                              <option value="Leitrim">Leitrim</option>

                              <option value="Limerick">Limerick</option>

                              <option value="Longford">Longford</option>

                              <option value="Louth">Louth</option>

                              <option value="Mayo">Mayo</option>

                              <option value="Meath">Meath</option>

                              <option value="Monaghan">Monaghan</option>

                              <option value="Offaly">Offaly</option>

                              <option value="Roscommon">Roscommon</option>

                              <option value="Sligo">Sligo</option>

                              <option value="Tipperary">Tipperary</option>

                              <option value="Waterford">Waterford</option>

                              <option value="Westmeath">Westmeath</option>

                              <option value="Wexford">Wexford</option>

                              <option value="Wicklow">Wicklow</option>
                          </select>
                        </div>
                        <!-- form-group end.// -->
                        <div class="form-group col-md-6">
                          <label>Eircode</label>
                          <input type="text" class="form-control" placeholder="Eircode">
                        </div>
                      </div>
                      <button class="btn btn-primary">Save</button>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                    </div>
                  </form>
                </div>
                <!-- card-body.// -->
              </div>
              <!-- card .// -->
            </main>

                      </div>
            </div>
            </div>
            </div>


<%- include('partials/adminfooter.ejs') %>