<%- include('partials/adminhead.ejs') %>
<%- include('partials/adminheader.ejs') %>
<script>
    redirectUser()
</script>

<style>

body {
    padding-bottom:100px
}

.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.icon-lg {
    width: 72px;
    height: 72px;
    font-size: 32px;
}
.icon-xs, .icon-sm, .icon-md, .icon-lg {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
    flex-grow: 0;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.37rem;
    margin-bottom: 25px;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
}

.card-product-grid .bottom-wrap {
    padding: 18px;
    border-top: 1px solid #e4e4e4;
}
.card-product-grid .info-wrap {
    overflow: hidden;
    padding: 18px 20px;
}
.nav-link {
    display: block;
    padding: 0.5rem 0.9rem;
    font-weight: 400;
    color: #51585e;
    transition: color .1s ease-in-out,background-color .1s ease-in-out,border-color .1s ease-in-out;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #FFF;
    background-color: #630436;
}
.btn-primary {
  background-color: #630436;
  color:#FFF;
  border-color: #630436;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-default {
  background-color: #fff;
  color:#630436;
  border-color: #630436;
 }
a:not([href]):not([tabindex]) {
    color:#fff;
}
.btn-outline-primary {
    background-color: #630436;
    color:#FFF;
    border-color: #630436;
}
.btn-outline-primary:hover, .btn-outline-primary.active {
    color:#630436;
    border-color: #630436;
    background-color: transparent;
    background-image: none;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color:#630436;
    border-color: #630436;
    background-color: transparent;
    background-image: none;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    background-color: rgba(0,0,0,0);
}
table {
    border-collapse: collapse;
}
user agent stylesheet
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
.flex-grow-1 {
    flex-grow: 1 !important;
}
.dashbaordtop {
    margin-bottom: 20px;

}


span {
    margin-left: 7px;
}

.list-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.125);
    color: #2D8180
}
.list-group-item.active{
    z-index: 2;
    color: #fff;
    background-color: #2D8180;
    border-color: rgba(0,0,0,0);
}
.list-group-item:Hover{
    z-index: 2;
    color: #2D8180;
    background-color: #d4d9d9;
    border-color: rgba(0,0,0,0);
}


</style>
<div class="container-fluid plr_30 body_white_bg pt_30" style="max-width: 1800px">

<div class="container">
    <div class="row">
          <aside class="col-lg-3">
            <!-- DashBoard SIDEBAR LIST -->

              <nav class="list-group nav-pills">
                    <a class="list-group-item" href="/admin-store"><i class="fa fa-gears"></i> Store Settings</a>
                    <a class="active list-group-item" href="/admin"><i class="fa fa-shield"></i> Security Dashboard</a>
                    <a class="list-group-item" href="/admin-orders"><i class="fa fa-shopping-bag"></i> Store Orders</a>
                    <a class="list-group-item" href="/admin-profile"><i class="fa fa-address-card"></i> Store Profile</a>
                    <a class="list-group-item" href="#" onclick="displayLogoutMsg()"><i class="fa fa-lock"></i> Log out</a>
              </nav>
            <!-- DashBoard SIDEBAR LIST -->
          </aside>

            <div class="padding col-lg-9">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2" style="color:#266a69">Security Dashboard</strong>
                        <h3 class="mb-0">
                            <p class="text-dark" id="storename"></p>
                        </h3>
                        <div class="mb-1 text-muted" id="storeaddress"></div>
                    </div>
                    <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 150px; height: 150px;" id="storelogo"  data-holder-rendered="true">
                </div>

                <article class="card-group card-stat dashbaordtop">
                     <figure class="card">
                         <div class="p-3">
                              <h4 id="ActiveUsers" class="title">0</h4>
                             <span>Active Users</span>
                         </div>
                     </figure>
                     <figure class="card">
                         <div class="p-3">
                              <h4 id="EmptyBaskets" class="title">0</h4>
                             <span>Empty Baskets</span>
                         </div>
                     </figure>
                     <figure class="card">
                         <div class="p-3">
                              <h4 id="InuseBaskets" class="title">0</h4>
                             <span>In use Baskets</span>
                         </div>
                     </figure>
                     <figure class="card">
                         <div class="p-3">
                              <h4 id="CurrentTime" class="title">00:00</h4>
                             <span>Current Time</span>
                         </div>
                     </figure>
               </article>

                <div id="userdatacard">
                <!-- User Info Card is Inserted here with JavaScript -->
                </div>
          </div>
        </div>
    </div>
</div>
<script src="/javascripts/getStoreData.js"></script>


<%- include('partials/adminfooter.ejs') %>