<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<style>

.card {
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    border: 0;
    border-radius: 1rem
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
}
.tag {
    display: inline-block;
    padding: 3px 7px;
    background: #f2f2f2;
    border: 1px solid #eee;
    border-radius: 3px;
    margin-top: 4px;
    margin-right: 2px;
    font-size: 85%;
}
.card-product-grid .bottom-wrap {
    padding: 18px;
    border-top: 1px solid #e4e4e4;
}
.card-product-grid .info-wrap {
    overflow: hidden;
    padding: 18px 20px;
}

.btn-primary {
  background-color: #630436;
  color:#FFF;
  border-color: #630436;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-default {
  background-color: #fff;
  color:#630436;
  border-color: #630436;
 }

</style>

<div id="productdata">
<div class="row">


	<div class="col-md-4">
		<figure class="card card-product-grid card-lg">
		    <img height= "200" width= "200" src="http://127.0.0.1:8000/media/images/hammer.jpg" class="rounded mx-auto d-block" alt="...">

			<figcaption class="info-wrap">
					<p class="title">Hammer </p>
					<p class="text-muted">A great big hammer for banging</p>

					<span class="tag">Hammer Inc</span>
					<span class="tag">Brand new</span>
					<span class="tag">256 px</span>
			</figcaption>
			<div class="bottom-wrap d-flex align-items-center">
				<div class="mr-3"> <span class="price h5">14.95</span> <br> <small class="text-success">In Stock</small> </div>
				<div class="ml-auto form-inline">

					<select class="form-control mr-2">
						<option>1</option>
						<option>2</option>
						<option>3</option>
					</select>
					<a href="#" class="btn btn-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i> </a>
				</div>
			</div>
		</figure>
	</div>

	<div class="col-md-4">
		<figure class="card card-product-grid card-lg">
		    <img height= "200" width= "200" src="http://127.0.0.1:8000/media/images/screwdriver.jpg" class="rounded mx-auto d-block" alt="...">

			<figcaption class="info-wrap">
					<p class="title">Screwdriver </p>
					<p class="text-muted">A small screwdriver for small screwing jobs</p>

					<span class="tag">Screwdriver Inc</span>
					<span class="tag">Brand new</span>
					<span class="tag">256 px</span>
			</figcaption>
			<div class="bottom-wrap d-flex align-items-center">
				<!-- <div class="mr-3"> <span class="price h5">9.95</span> <br> <small class="text-success">In Stock</small> </div> -->
				<div class="mr-3"> <span class="price h5">9.95</span> <br> <small class="text-danger">Out of Stock</small> </div>
				<div class="ml-auto form-inline">

					<select class="form-control mr-2">
						<option>1</option>
						<option>2</option>
						<option>3</option>
					</select>
					<a href="#" class="btn btn-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i> </a>
				</div>
			</div>
		</figure>
	</div>

	<div class="col-md-4">
		<figure class="card card-product-grid card-lg">
		    <img height= "200" width= "200" src="http://127.0.0.1:8000/media/images/STIHL_MS_180.jpeg" class="rounded mx-auto d-block" alt="...">

			<figcaption class="info-wrap">
					<p class="title">Chainsaw </p>
					<p class="text-muted">A medium sized chainsaw for cutting trees</p>

					<span class="tag">Stihl Inc</span>
					<span class="tag">Brand new</span>
					<span class="tag">256 px</span>
			</figcaption>
			<div class="bottom-wrap d-flex align-items-center">
				<div class="mr-3"> <span class="price h5">350.00</span> <br> <small class="text-success">In Stock</small> </div>
				<div class="ml-auto form-inline">

					<select class="form-control mr-2">
						<option>1</option>
						<option>2</option>
						<option>3</option>
					</select>
					<a href="#" class="btn btn-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i> </a>
				</div>
			</div>
		</figure>
	</div>

</div>


<script>
fetch("http://127.0.0.1:8000/products/")
  .then(function (response) {
    return response.json();
  })
  .then(function (data) {
    appendData(data);
  })
  .catch(function (err) {
    console.log(err);
  });

  function appendData(data) {
  var mainContainer = document.getElementById("productdata");
  for (var i = 0; i < data.length; i++) {
    var h1 = document.createElement("h1");
    h1.innerHTML = data[i].name;
    var h2 = document.createElement("h2");
    h2.innerHTML = data[i].description;
    var h3 = document.createElement("h3");
    h3.innerHTML = data[i].price;

    mainContainer.appendChild(h1);
    mainContainer.appendChild(h2);
    mainContainer.appendChild(h3);
  }
}
</script>

<%- include('partials/footer.ejs') %>