<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<style>
body {
    padding-bottom:100px
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.37rem;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
}
.tag {
    display: inline-block;
    padding: 3px 7px;
    background: #f2f2f2;
    border: 1px solid #eee;
    border-radius: 3px;
    margin-top: 4px;
    margin-right: 2px;
    font-size: 85%;
}
.card-product-grid .bottom-wrap {
    padding: 18px;
    border-top: 1px solid #e4e4e4;
}
.card-product-grid .info-wrap {
    overflow: hidden;
    padding: 18px 20px;
}

.btn-primary {
  background-color: #630436;
  color:#FFF;
  border-color: #630436;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-default {
  background-color: #fff;
  color:#630436;
  border-color: #630436;
 }
a:not([href]):not([tabindex]) {
    color:#fff;
}
.btn-outline-primary {
    background-color: #630436;
    color:#FFF;
    border-color: #630436;
}
.btn-outline-primary:hover, .btn-outline-primary.active {
    color:#630436;
    border-color: #630436;
    background-color: transparent;
    background-image: none;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color:#630436;
    border-color: #630436;
    background-color: transparent;
    background-image: none;
}
.searchproduct {
    margin-left: 10px;
}

.filtersidebar {
    margin-bottom: 50px;
}

</style>

<h1>All Products</h1>

<div class="container">
    <div class="row">
        <aside class="col-md-3 filtersidebar">
            <div class="card">
                <article class="filter-group">
                    <header class="card-header">
                        <!-- <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                            <i class="icon-control fa fa-chevron-down"></i> -->
                            <h6 class="title">Product type</h6>
                        </a>
                    </header>
                    <div class="filter-content collapse show" id="collapse_1" style="">
                        <div class="card-body">
                            <form class="pb-3">
                            <div class="input-group">
                              <input type="text" class="form-control" type="search" name="title_contains" placeholder="Search">
                                  <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">Search<i class="fa fa-search"></i></button>
                                  </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </article>
                <article class="filter-group">
                    <header class="card-header">

                            <h6 class="title">Tags </h6>
                        </a>
                    </header>
                    <div class="filter-content collapse show" id="collapse_4" style="">
                        <div class="card-body">
                          <label class="checkbox-btn">
                            <input type="checkbox">
                            <span class="btn btn-light"> XS </span>
                          </label>

                          <label class="checkbox-btn">
                            <input type="checkbox">
                            <span class="btn btn-light"> SM </span>
                          </label>

                          <label class="checkbox-btn">
                            <input type="checkbox">
                            <span class="btn btn-light"> LG </span>
                          </label>

                          <label class="checkbox-btn">
                            <input type="checkbox">
                            <span class="btn btn-light"> XXL </span>
                          </label>
		                </div>
		            </div>
                </article>
                <article class="filter-group">
                    <header class="card-header">
                        <!--<a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                            <i class="icon-control fa fa-chevron-down"></i>-->
                            <h6 class="title">Price range </h6>
                        </a>
                    </header>
                    <div class="filter-content collapse show" id="collapse_3" style="">
                        <div class="card-body">
                            <div class="form-row">
                            <div class="form-group col-md-6">
                              <label>Min</label>
                              <input class="form-control" placeholder="$0" type="number">
                            </div>
                            <div class="form-group text-right col-md-6">
                              <label>Max</label>
                              <input class="form-control" placeholder="$1,0000" type="number">
                            </div>
                            </div>
                            <button class="btn btn-block btn-primary">Apply</button>
                        </div>
                    </div>
                </article>
            </div>
        </aside>

    <div class="col-md-9 productdata">
        <!-- Product Card is Inserted here with JavaScript -->
    </div>
</div>

<script src="javascripts/getallproducts.js"></script>

<%- include('partials/footer.ejs') %>