<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<style>

body {
    padding-bottom:100px
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.37rem;
}

.card:hover {
    box-shadow: 0 10pcd x 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
}
.tag {
    display: inline-block;
    padding: 3px 7px;
    background: #f2f2f2;
    border: 1px solid #eee;
    border-radius: 3px;
    margin-top: 4px;
    margin-right: 2px;
    font-size: 85%;
}
.card-product-grid .bottom-wrap {
    padding: 18px;
    border-top: 1px solid #e4e4e4;
}
.card-product-grid .info-wrap {
    overflow: hidden;
    padding: 18px 20px;
}

.btn-primary {
  background-color: #630436;
  color:#FFF;
  border-color: #630436;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-default {
  background-color: #fff;
  color:#630436;
  border-color: #630436;
 }
a:not([href]):not([tabindex]) {
    color:#fff;
}
.btn-outline-primary {
    background-color: #630436;
    color:#FFF;
    border-color: #630436;
}
.btn-outline-primary:hover, .btn-outline-primary.active {
    color:#630436;
    border-color: #630436;
    background-color: transparent;
    background-image: none;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color:#630436;
    border-color: #630436;
    background-color: transparent;
    background-image: none;
}
.searchproduct {
    margin-left: 10px;
}

.filtersidebar {
    margin-bottom: 50px;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
.creditcarddiv {
    position: fixed;
    bottom: 40px;
    width: 100%;
}


</style>

<h3 id="user-welcome-message" class="display-4 text-center">Welcome to your Basket!</h3>
<p id="user-welcome-message-small" class="lead text-center">Hmmmm... It seems like you haven't got any products in your basket. Head over to our <a href="/allproducts">All Products</a> page to add some stuff to your basket</p>
<div class="container" id="basket-items-payment-container" style="display:none;">
   <a href='allproducts'><button type="button" class="btn btn-outline-info" style="width: 100%;margin-bottom: 15px;">Return to All Products Page</button></a>
    <div class="row">
            <main class="col-md-9 productdata">
                 <!-- Product Card is Inserted here with JavaScript -->
            </main>
            <aside class="col-md-3">
                <div class="card">
                <div class="card-body center">
                    <dl class="dlist-align">
                      <dt>Grand Total:</dt>
                      <dd class="text-right text-dark grandtotal"><strong id="grandpricetotal"></strong></dd>
                    </dl>
                    <hr>
                    <p class="text-center mb-3">
						<img src="images/payments.png" height="26">
					</p>
					<hr>
					<input type="image" src="images/applepay button.png" onclick="toggleText('applepay-display')" style="width:100%" />
					   <p id="applepay-display" style="display:none"><a class='text-primary' onclick="">Apple Pay To Checkout</a></p>

					<br>
					<input type="image" src="images/Buy-with-Google-Pay.png" onclick="toggleText('googlepay-display')" style="width:100%"/>
					    <p id="googlepay-display" style="display:none"><a class='text-primary' onclick="">Google Pay To Checkout</a></p>
					<br>
                    <button class="btn btn-primary btn-block creditcardbtn"onclick="on()"> Debit / Credit Card </button>


                    <p class="small my-3 text-muted">Some extra informative text can be placed here as dummy text will be replaced</p>

                </div>
                </div>
            </aside>
        </main>
    </div>
</div>

<div id="overlay">
    <div class="card creditcarddiv">
        <header class="card-header">
                <button class="float-right btn btn-danger" height="24" onclick="off()">X</button>
                <h4 class="card-title mb-4">Payment info</h4>
		</header>
        <div class="card-body">
            <form role="form">
                <div class="form-group">
                    <label for="username">Name on card</label>
                    <input type="text" class="form-control" name="username" placeholder="Ex. John Smith" required="">
                </div>

                <div class="form-group">
                    <label for="cardNumber">Card number</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="cardNumber" placeholder="">
                        <div class="input-group-append">
                            <span class="input-group-text">
                            <i class="fab fa-cc-visa"></i> &nbsp; <i class="fab fa-cc-amex"></i> &nbsp;
                            <i class="fab fa-cc-mastercard"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md flex-grow-0">
                        <div class="form-group">
                            <label><span class="hidden-xs">Expiration</span> </label>
                            <div class="form-inline" style="min-width: 220px">
                                <select class="form-control" style="width:100px">
                                    <option>MM</option>
                                    <option>01 - January</option>
                                    <option>02 - February</option>
                                    <option>03 - March</option>
                                    <option>04 - April</option>
                                    <option>05 - May</option>
                                    <option>06 - June</option>
                                    <option>07 - July</option>
                                    <option>08 - August</option>
                                    <option>09 - September</option>
                                    <option>10 - October</option>
                                    <option>11 - November</option>
                                    <option>12 - December</option>
                                </select>
                                <span style="width:20px; text-align: center"> / </span>
                                <select class="form-control" style="width:100px">
                                    <option>YY</option>
                                    <option>2020</option>
                                    <option>2021</option>
                                    <option>2022</option>
                                    <option>2023</option>
                                    <option>2024</option>
                                    <option>2025</option>
                                    <option>2026</option>
                                    <option>2027</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>
                            <input class="form-control" required="" type="text">
                        </div>
                    </div>
                </div>
                <button id="checkoutbtnconfirm"class="subscribe btn btn-primary btn-block" type="button"> Confirm  </button>
            </form>
        </div>
    </div>
</div>


<script>
function backendServer() {
  const domain = window.location.hostname.toString();
  console.log("Domain: ", domain)
  if (domain == "scanngo-frontend-app.azurewebsites.net") {
    var backendServerURL = "https://scanngo-backend-app.azurewebsites.net/";
  }
  else if ( (domain == "127.0.0.1") || (domain == "localhost") || (domain == "0.0.0.0") ) {
    var backendServerURL = "http://127.0.0.1:8000/";
    }
  else {
    alert("ERROR: Cannot determine Backend Server (Django) URL");
    }

  console.log('Backend Server URL', backendServerURL)
  return backendServerURL
}

function toggleText(divid){
  var x = document.getElementById(divid);
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function on() {
  document.getElementById("overlay").style.display = "block";
}

function off() {
  document.getElementById("overlay").style.display = "none";
}


function checkoutcart(id) {
  let backendServerURL = backendServer()
  let djangoServer = backendServerURL + "checkout/"
  let token = sessionStorage.getItem('access').toString()

  var obj = {
    method: 'POST',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json',
      'Origin': '',
      'Host': 'api.producthunt.com',
      'Authorization': 'Bearer ' + token
    },
    body: JSON.stringify({
        'basket_id' : id
      })
    }

  console.log("sending data to ",djangoServer)
  fetch(djangoServer, obj)
    .then(response => response.json()) // extract the json from the response you get from the server
    .then(data => {
      console.log(data)
      window.location.href = "receipt/";
    })
}

function checkLogin(){
  console.log(sessionStorage)
  if (sessionStorage.getItem('access') != null) {
    var isLoggedIn= true;
  } else {
    var isLoggedIn = false;
  }
  if (isLoggedIn == false){
    //console.log("test")
    location.href = '/login/basketError';
   // console.log("User is not Logged In")
}
}

checkLogin()
</script>
<script src="javascripts/getusersbasket.js"></script>
<%- include('partials/footer.ejs') %>
