<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<script>
    checkLogin()
    redirectAdmin()
</script>
<!-- Basket Page Style -->
<style>

    body {
        padding-bottom: 100px
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0.37rem;
    }

    .tag {
        display: inline-block;
        padding: 3px 7px;
        background: #f2f2f2;
        border: 1px solid #eee;
        border-radius: 3px;
        margin-top: 4px;
        margin-right: 2px;
        font-size: 85%;
        margin-left: 80px;
    }

    .card-product-grid .bottom-wrap {
        padding: 18px;
        border-top: 1px solid #e4e4e4;
    }

    .card-product-grid .info-wrap {
        overflow: hidden;
        padding: 18px 20px;
    }
    .itemside {
    position: relative;
    display: flex;
    width: 100%;
    }
    .align-items-center {
    align-items: center !important;
    }
    .img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.35rem;
    max-width: 100%;
    height: auto;
    margin-right: 10px;
    }
    .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #51585e;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.43rem 0.84rem;
    font-size: 1rem;
    border-radius: 0.35rem;
    transition: color .1s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    .btn-primary {
        background-color: #630436;
        color: #FFF;
        border-color: #630436;
    }

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-default {
        background-color: #fff;
        color: #630436;
        border-color: #630436;
    }

    a:not([href]):not([tabindex]) {
        color: #fff;
    }
    .productsubprice{
        margin-right: 2px;
    }
    .btn-light {
    background-color: #fff;
    border-color: #dee2e6;
    color: #212529;
    }
    .btn-light i {
    color: #9da1a7;
    }
    .btn-icon {
    width: 2.6rem;
    padding-left: 0px;
    padding-right: 0px;
    }

    #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        cursor: pointer;
    }

    #applepayoverlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        cursor: pointer;
    }

    #googlepayoverlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        cursor: pointer;
    }

    .creditcarddiv {
        position: fixed;
        bottom: 0px;
        width: 100%;
    }

    .paymentdiv {
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
    .input-spinner {
    max-width: 140px;
    flex-wrap: nowrap;
    display: inline-flex;
    }
    .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    align-items: stretch;
    width: 100%;
    }
    .form-control:not(:focus):hover, .form-select:not(:focus):hover {
    border-color: #6ea8fe;
}
    .input-spinner input.form-control {
    text-align: center;
    border-color: #dee2e6;
    padding-left: 3px;
    padding-right: 3px;
}
    .form-control {
    display: block;
    width: 100%;
    padding: 0.43rem 0.84rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #51585e;
    background-color: #f9f9f9;
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input-group>.form-control, .input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}
.totalproductprice {
    margin-left: 40px;
}


</style>
<!-- Basket Page Welcome Message - Variable response if user basket is empty or not -->
<h3 id="user-welcome-message" class="display-4 text-center">Welcome to your Basket!</h3>
<p id="user-welcome-message-small" class="lead text-center">Hmmmm... You haven't scanned any products! Head over to our <a href="/">Product Scanner</a> to add items to your basket!</p>


<div class="container" id="basket-items-payment-container" style="display:none;">
    <a href='/'>
        <button type="button" class="btn btn-primary" style="width: 100%;margin-bottom: 15px;">Return to Product Scanner
        </button>
    </a>

    <div class="row">
        <main class="col-md-9 productdata">
            <!-- Product Card is Inserted here with JavaScript - using the GetUserBasket() function in the getuserbasket.js -->
        </main>

        <!-- Payment Sidebar -- features order grand total which gets inserted from the getuserbasket function & displays mutliple payment option buttons  -->
        <aside class="col-md-3">
            <div class="card">
                <div class="card-body center">
                    <dl class="dlist-align">
                        <dt>Grand Total:</dt>
                        <dd class="text-right text-dark grandtotal"><strong id="grandpricetotal"></strong></dd>
                    </dl>
                    <hr>
                    <p class="text-center mb-3"><img src="images/payments.png" height="26"></p>
                    <hr>
                    <input type="image" src="images/applepay button.png" onclick="PopupTurnOn('applepayoverlay')"style="width:100%"/>

                    <br>
                    <input type="image" src="images/Buy-with-Google-Pay.png" onclick="PopupTurnOn('googlepayoverlay')"style="width:100%"/>

                    <br>
                    <button class="btn btn-primary btn-block creditcardbtn" onclick="PopupTurnOn('overlay')"> Debit / Credit Card</button>
                    <hr>
                    <p class="small my-3 text-muted">Please choose a payment option above</p>

                </div>
            </div>
        </aside>
        </main>
    </div>
</div>

<!--
Pop up for Apple Payment option
Includes a Apple Pay animation from lottiefiles.com
"Buy with google pay" button initiates the checkout function to checkout the order of the users basket.
 -->
<div id="applepayoverlay">
    <div class="card applepaydiv paymentdiv">
        <header class="card-header">
            <button class="float-right btn btn-danger" height="24" onclick="PopupTurnOff('applepayoverlay')">X</button>
            <h4 class="card-title mb-4">Apple Pay</h4>
        </header>
        <div class="col-md-4 card-body "style="margin: auto;">
            <form role="form">
                <div class="form-group center">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player style='margin:auto' src="https://assets7.lottiefiles.com/packages/lf20_oc7vjc4z.json"
                                   background="transparent" speed="1" style="width: 300px; height: 300px;"
                                   autoplay></lottie-player>
                </div>

                <input id="applebtn" type="image" src="images/applepay button.png" style="width:100%">
            </form>
        </div>
    </div>
</div>

<!--
Pop up for Google Payment option
Includes a google pay animation from lottiefiles.com
"Buy with google pay" button initiates the checkout function to checkout the order of the users basket.
 -->
<div id="googlepayoverlay">
    <div class="card googlepayddiv paymentdiv">
        <header class="card-header">
            <button class="float-right btn btn-danger" height="24" onclick="PopupTurnOff('googlepayoverlay')">X</button>
            <h4 class="card-title mb-4">Google Pay</h4>
        </header>
        <div class="col-md-4 card-body"style="margin: auto;">
            <form role="form">
                <div class="form-group center">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player style='margin:auto' src="https://assets9.lottiefiles.com/packages/lf20_iev4cmrb.json"
                                   background="transparent" speed="1" style="width: 300px; height: 300px;"
                                   autoplay></lottie-player>
                </div>

                <input id="googlebtn" type="image" src="images/Buy-with-Google-Pay.png" style="width:100%">
            </form>
        </div>
    </div>
</div>

<!--
Pop up for Debit/Credit Card Payment option
Includes a html form featuring several text inputs and dropdown options
"Confirm" button initiates the checkout function to checkout the order of the users basket.
 -->
<div id="overlay">
    <div class="card creditcarddiv">
        <header class="card-header">
            <button class="float-right btn btn-danger" height="24" onclick="PopupTurnOff('overlay')">X</button>
            <h4 class="card-title mb-4">Payment info</h4>
        </header>
        <div class="card-body">
            <form role="form">
                <div class="form-group">
                    <label for="username">Name on card</label>
                    <input type="text" class="form-control" name="username" placeholder="Ex. John Smith" required="">
                </div>

                <div class="form-group">
                    <label for="cardNumber">Card number</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="cardNumber" placeholder="">
                        <div class="input-group-append">
                            <span class="input-group-text">
                            <i class="fab fa-cc-visa"></i> &nbsp; <i class="fab fa-cc-amex"></i> &nbsp;
                            <i class="fab fa-cc-mastercard"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md flex-grow-0">
                        <div class="form-group">
                            <label><span class="hidden-xs">Expiration</span> </label>
                            <div class="form-inline" style="min-width: 220px">
                                <select class="form-control" style="width:100px">
                                    <option>MM</option>
                                    <option>01 - January</option>
                                    <option>02 - February</option>
                                    <option>03 - March</option>
                                    <option>04 - April</option>
                                    <option>05 - May</option>
                                    <option>06 - June</option>
                                    <option>07 - July</option>
                                    <option>08 - August</option>
                                    <option>09 - September</option>
                                    <option>10 - October</option>
                                    <option>11 - November</option>
                                    <option>12 - December</option>
                                </select>
                                <span style="width:20px; text-align: center"> / </span>
                                <select class="form-control" style="width:100px">
                                    <option>YY</option>
                                    <option>2020</option>
                                    <option>2021</option>
                                    <option>2022</option>
                                    <option>2023</option>
                                    <option>2024</option>
                                    <option>2025</option>
                                    <option>2026</option>
                                    <option>2027</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label data-toggle="tooltip" title=""
                                   data-original-title="3 digits code on back side of the card">CVV <i
                                        class="fa fa-question-circle"></i></label>
                            <input class="form-control" required="" type="text">
                        </div>
                    </div>
                </div>
                <button id="checkoutbtnconfirm" class="subscribe btn btn-primary btn-block" type="button"> Confirm
                </button>
            </form>
        </div>
    </div>
</div>


<script>
    function backendServer() {
    url = window.location.href;
    let domain = (new URL(url));
    if (domain.hostname == "scanngo.ie") {
      var backendServerURL = "https://www.backend.scanngo.ie/";
    } else if (domain.hostname == "www.scanngo.ie") {
      var backendServerURL = "https://www.backend.scanngo.ie/";
    } else if ((domain.hostname == "127.0.0.1") || (domain.hostname == "localhost") || (domain.hostname == "0.0.0.0")) {
      var backendServerURL = "http://127.0.0.1:8000/";
    } else if (domain.hostname == "192.168.1.20") {
      var backendServerURL = "http://192.168.1.20:8000/";
    } else {
      alert("ERROR: Cannot determine Backend Server (Django) URL");
    }
    //console.log("domain ", domain)
    //console.log('Backend Server URL', backendServerURL)
    return backendServerURL
  }

    // Popup control for turning on the popup by getting a particular element id
    function PopupTurnOn(opt) {
        document.getElementById(opt).style.display = "block";
    }

    //Popup control for turning off the popup by getting a particular element id
    function PopupTurnOff(opt) {
        document.getElementById(opt).style.display = "none";
    }
    //Function called when user confirms they want to checkout their order
     //sends a POST request to the checkout/ api with the basket_id
     //once this process is completed, an alert is shown to confirm successuful checkout
    // When the alert is accepted the user is redirected to the receipt page

    function checkoutcart(id) {
        let backendServerURL = backendServer()
        let djangoServer = backendServerURL + "checkout/"
        let token = sessionStorage.getItem('access').toString()

        var checkoutcartObj = {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'Origin': '',
                'Authorization': 'Bearer ' + token
            },
            body: JSON.stringify({
                'basket_id': id
            })
        }

        //console.log("sending data to ", djangoServer)
        fetch(djangoServer, checkoutcartObj)
            .then(response => response.json()) // extract the json from the response you get from the server
            .then(data => {
                //console.log(data)
                sessionStorage.setItem('storeID', 5)
                window.location.href = "receipt/";
            }).then(alert("Checked Out"))
    }

    function checkLogin() {
        //console.log(sessionStorage)
        if (sessionStorage.getItem('access') != null) {
            var isLoggedIn = true;
        } else {
            var isLoggedIn = false;
        }
        if (isLoggedIn == false) {
            location.href = '/login/basketError';
        }
    }

    checkLogin()

</script>

<script src="javascripts/getusersbasket.js"></script>
<%- include('partials/footer.ejs') %>
