<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<style>
#scan-n-go-content-container {
padding-top:0 !important;
}
</style>
<div style="background-color:white;text-align: center;">
    <!--<div style="">
        <p class='text-left' style="margin:0;font-size:">Logged into: Shanowen Spar</h5>
    </div> -->
    <div style="">
        <h5 class='text-center' style="background-color:#096c38ed;color:white;font-family:'lato';padding-top: 7px !important;padding-bottom: 7px;margin-bottom: 0;">Scan a Product</h5>
    </div>
   <!-- <div style="min-height:20px;display: flex;justify-content: center;">
        <img style="max-height:20px;" src="https://i.ibb.co/mhDWknB/spar-logo.png" alt="spar-logo" border="0">
    </div> -->
</div>
<div id="scandit-barcode-picker" style="max-width: 1280px; max-height: 80%;"></div>


<script>
ScanditSDK.configure("AcwRWhrVOx+fAw/oAhAg/7w/zNFaMBqI1G+QtwgSQp+deFEez3tjgVtBowSoWOGfHmX/KDt3OhLDZgJ72XRaTh1U8//sY2djQCgJkKBmn4lJMlJQCRL8ymZNCDE7RlPGdHMxZadY26t9KO/Q80egTq1tJHyAbm0RRms84ZBNXIp9S9xtsDUhk+hwbHSDXab2LnP1I/xbBR9+fZTwjQ2NY9c75+VXG4YdJT9VDm5y6iUkd1s6WnPNdnQRPMi+KgbjgLKMwBIMdbfD2Brz40otYUzcHO9QUeUnppifjowg265z9TJKH3gdVN7FY2XWdfth/nQcB8+R4WeLj9MqgpsjkhtK78dlKTZ37kIX8Ll50rWmiJlE++CNKpZo5txpw1t6ihzlfJOQaF4/y6qFReJl6ov5HogzGprmjmcQl4AZ+wxhZTd2w5gNKfB9I7IZAm1y+aIDMXmIB9G5cd4gjCQcVE/ZHWfFdzcG4iRN5jMAWmIqshVuvjcJEdFjHwyAMD8bawJ2col7tpIWCJBAbNpHky/7ONSzu6h5uM4FZcC5ldh52Hmk/nT0N/C5FVkbQSxUCPA5N+3oLwMvoOviGDpI/WvCetoDie7BYFtZtPDb45ueDs9V9KDH5ZCBEqvkBjwbH7H1jEdk3yAA2Q8qoLXodUPQxjaMrKBKPFE/bgCzmKqH4fpB2CTrPHzJIsI0+nA37BIjCix9VPVDflxU03BYKjWG2P4QX3FWStbgMwTXG2QUqnfrtKOIP1CUh3/r0EefWAg2AdkdPojPLx1DBEOgQVyVSQEtG8MUa4YMugdDzsD5MX+sCkdFuvSkTPIeX5OaQykJNV8qLTEoZx4BUWBWCk5XG4qow58R/xWp13dCC8u76odBJ6sDA/HfpOBaQYykt8RhArIs1/6l8w/qMLN0bsVJb5woUndz0g==", {
  engineLocation: "https://cdn.jsdelivr.net/npm/scandit-sdk@5.x/build/",
})
  .then(() => {
    return ScanditSDK.BarcodePicker.create(document.getElementById("scandit-barcode-picker"), {
      // enable some common symbologies
      scanSettings: new ScanditSDK.ScanSettings({ enabledSymbologies: ["ean8", "ean13", "upca", "upce"],playSoundOnScan: true,
  vibrateOnScan: true, }),
    });
  })
  .then((barcodePicker) => {
    // barcodePicker is ready here, show a message every time a barcode is scanned
    barcodePicker.on("scan", (scanResult) => {
      barcodePicker.destroy()
      location.href = '/product/8/';
    });
  });


// create personalised message on homescreen banner
function createWelcome() {
  var username = sessionStorage.getItem('username')
  document.getElementById("welcome-message").innerHTML = "Welcome, " + username + "!"
}

// check if user is logged in and create the welcome message on the banner
window.onload = function() {
  checkLogin();
  createWelcome();

};

</script>
<%- include('partials/footer.ejs') %>
