<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<style>
#scan-n-go-content-container {
padding-top:0 !important;
}
</style>
<div style="background-color:white;text-align: center;">
    <!--<div style="">
        <p class='text-left' style="margin:0;font-size:">Logged into: Shanowen Spar</h5>
    </div> -->
    <div style="">
        <h5 class='text-center' style="background-color:#096c38ed;color:white;font-family:'lato';padding-top: 7px !important;padding-bottom: 7px;margin-bottom: 0;">Scan a Product</h5>
    </div>
   <!-- <div style="min-height:20px;display: flex;justify-content: center;">
        <img style="max-height:20px;" src="https://i.ibb.co/mhDWknB/spar-logo.png" alt="spar-logo" border="0">
    </div> -->
</div>
<div id="scandit-barcode-picker" style="max-width: 1280px; max-height: 80%;"></div>


<script>
ScanditSDK.configure("ASUheCzVDZDoDPieBTH34qkryRvAL5DU6lGOvggN4oYcftAxJ2S7FoB5eHzhclzV8m+gKn96AkPrZE371kauZ91Frua6f+EkBFFv9ks9VH0pWAOod1lu4jxcMU+AVcmhSWbXjG8nj82ELTSEdTi0wE8k37efTtvhcVB++KNNhJqeS/EL9sxZeXGUhKOGXzoUdG2PgKJfeD8IRXm3PhSUUNdlGEmD3JZQOeOPygKptXOD+gAuxxY3CVw+V8QNMQ8yj0WOAco0Cv13P2xUHccDIpexPeCUpsnNkUAFBnNC2uASXSaafRInuSc2+DOYdMo0L28llYbX4UbGi/Y1TyASE+D4Yh0xfN72qunrYRbX0BAy3lPXhknhq1WYtb1fLkpuUMdaPxQ3DuOLyqLg7czHxBkT6sN+UHC2PxVt62cdOUJ83JWNGI1PB4Wz0ldGedxnUgS30TQd3lvKyV5/rqjswbmq3gAa65qGtXF/3ZZCVbmw/s/B72+hukTVkFqRj5mRlA30s0muri3zdsqTeQOEB/9uLyVj5KhqKHXa16UhhifGbaFshh8yd5AsOPU8ftQT1WqXPFerVGbJA+v+em9KclxxB1DeVQCUDLcVkUJdIjHgC20SaF5H6suEZNNuRfjLcv3wDRtl5Eo9dlqJ5wzt5qJEj2vrey9sQOJ4KzOFyi45srOfmNqQY9CDhZoh7sBy1BY+ZMNeHTXXd3A8O9k+qfWOBtHrLgEqh3I8PjfCDbhydxvuVvylQLcXj6obiwDu/A/x4eoDgKAkhjvXRYmKnzjImblT2/125ozwizCwKj4VjLHaKZCusxbDjFnXrnTN5vJCDN8rIuliUvvFaPHdINA=", {
  engineLocation: "https://cdn.jsdelivr.net/npm/scandit-sdk@5.x/build/",
})
  .then(() => {
    return ScanditSDK.BarcodePicker.create(document.getElementById("scandit-barcode-picker"), {
      // enable some common symbologies
      scanSettings: new ScanditSDK.ScanSettings({ enabledSymbologies: ["ean8", "ean13", "upca", "upce"],playSoundOnScan: true,
  vibrateOnScan: true, }),
    });
  })
  .then((barcodePicker) => {
    // barcodePicker is ready here, show a message every time a barcode is scanned
    barcodePicker.on("scan", (scanResult) => {
      alert("Your barcode is " + scanResult.barcodes[0].data);
      location.href = '/product/8/';
    });
  });


// create personalised message on homescreen banner
function createWelcome() {
  var username = sessionStorage.getItem('username')
  document.getElementById("welcome-message").innerHTML = "Welcome, " + username + "!"
}

// check if user is logged in and create the welcome message on the banner
window.onload = function() {
  checkLogin();
  createWelcome();

};

</script>
<%- include('partials/footer.ejs') %>
