<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<style>
#scan-n-go-content-container {
padding-top:0 !important;
}
</style>
<div style="background-color:white;text-align: center;">
    <!--<div style="">
        <p class='text-left' style="margin:0;font-size:">Logged into: Shanowen Spar</h5>
    </div> -->
    <div style="">
        <h5 class='text-center' style="background-color:#096c38ed;color:white;font-family:'lato';padding-top: 7px !important;padding-bottom: 7px;margin-bottom: 0;">Scan a Product</h5>
    </div>
   <!-- <div style="min-height:20px;display: flex;justify-content: center;">
        <img style="max-height:20px;" src="https://i.ibb.co/mhDWknB/spar-logo.png" alt="spar-logo" border="0">
    </div> -->
</div>
<div id="scandit-barcode-picker" style="max-width: 1280px; max-height: 80%;"></div>


<script>
ScanditSDK.configure("AQwRTCedBl9MFixspSOOt7UdpWJKRNo1XHpK565iHqMMVHMysVEPMC1LEzPEJlRwD3js48lXFaT5Unn5sHLXzSJ9z2PhV5qKGnUjgOImffHZNQKuDQb4Bahohqs2Vb4B3lILDMZvGtGiDMDB1VB2QExxpdB4buVCjEN2fE5jwl5YaZlJ2Xu4lJJ6Rv9XUpK0lVbuL8NKipNNfHfZIzQTB+xB3KnxAbA+py73K1lVf4JlbtXG2Ml6i3UOjrPn3rh5Rnko4x9KbWcOO7pM/fkfor1yvjyE6JjVHbNlclyry1FyqSO2zvWQFWrGkPM4BcH74moNaW3dQ4FvtOhJY/Onj/fB/dBoKZmfkT3x65JXRJLCQEzdMw/Cbj4NevSPEBoXx3oCDUPEvgzIhePR9+gu97ASF36UysoC2zF0xRLXT7/a0svHB/lXHtIxXLnCZZZZbbNwZnzJ+sYLrttuyzURkkOSgEZmZqTPaHfILpEYOjOCKVat9E5ZH5pyJifqo7on5u7qvmemY+mKbPmbwfTBPQx5KveOyebe1Q+LbtQXrRN8pGD/3JUKemjePFp5XqSepeEKMChT0Zq0hIxCeJWbBHRBSuA4eW/FAtivlxOwyuOmoKbXAEUSQir41977e96Gn9Dtggi+qtBi199TUsrM+OpQw14SkEpqMMUbg9nJDF03ctW6DUR4XTRNtGKxxuDxeG3B4puTqCVf2ukPV+hLbLs1fytQGnYUCh1ab5UBlR6K7YOaAznMYbVOtOWEMwukDqVl4Qp8yebNtAkFQE6Z1/QPM6qjYayfyCgQYWoUYOS1xExcMrWIIvjlRJA/ZthK5v3qxUAtoBWEOe+f6smxBGslEt8a7zViICLUtrLlq7UdGPyHuHbsh+e64omvdnt9ZcochLcO0e5dnEqj", {
  engineLocation: "https://cdn.jsdelivr.net/npm/scandit-sdk@5.x/build/",
})
  .then(() => {
    return ScanditSDK.BarcodePicker.create(document.getElementById("scandit-barcode-picker"), {
      // enable some common symbologies
      scanSettings: new ScanditSDK.ScanSettings({ enabledSymbologies: ["ean8", "ean13", "upca", "upce"],playSoundOnScan: true,
  vibrateOnScan: true, }),
    });
  })
  .then((barcodePicker) => {
    // barcodePicker is ready here, show a message every time a barcode is scanned
    barcodePicker.on("scan", (scanResult) => {
      alert("Your barcode is " + scanResult.barcodes[0].data);
      location.href = '/product/8/';
    });
  });


// create personalised message on homescreen banner
function createWelcome() {
  var username = sessionStorage.getItem('username')
  document.getElementById("welcome-message").innerHTML = "Welcome, " + username + "!"
}

// check if user is logged in and create the welcome message on the banner
window.onload = function() {
  checkLogin();
  createWelcome();

};

</script>
<%- include('partials/footer.ejs') %>
