<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<script>
    checkLogin()
    redirectAdmin()
    redirectNonStoreLoggedInUser()
</script>
<style>
#scan-n-go-content-container {
padding-top:0 !important;
}
</style>
<div style="background-color:white;text-align: center;">
    <!--<div style="">
        <p class='text-left' style="margin:0;font-size:">Logged into: Shanowen Spar</h5>
    </div> -->
    <div style="">
        <h5 class='text-center' style="background-color:#096c38ed;color:white;font-family:'lato';padding-top: 7px !important;padding-bottom: 7px;margin-bottom: 0;">Scan a Product</h5>
    </div>
   <!-- <div style="min-height:20px;display: flex;justify-content: center;">
        <img style="max-height:20px;" src="https://i.ibb.co/mhDWknB/spar-logo.png" alt="spar-logo" border="0">
    </div> -->
</div>
<div id="scandit-barcode-picker" style="max-width: 1280px; max-height: 80%;"></div>


<script>
ScanditSDK.configure("AZIxewriKzWICPhnjwR9HI4cjgXiFkKnrWpEM5NemQ6hbPkryyGU4vRgparYca6cxgho5hg2GjAQFE1DbWv/LLpNt33ZbMbvzQySXJFHLsHkTaXszAQZ660kfXKSQKI1cx8SLrtjKRrheXtnJHnVvm5tOws4mrRkn7BNl2KrMIVsLNA4gwleU0U5dGw/k+BzKBLFEHJcpmQqJqDvPdZxmLsm0+veG5ztCCYBYPtODDO5g/IJ3NKVTybrOTUw37t1qeAvUasze1R67yiRK4woncsY8+ROsCJSsgB/epOCIO2134kid5K7Qv5UkaO9V/dncvOZrOrZrPzd/JRTFNhx/2fFiT5GGCj8EPsKPREtc/LNEKONfL6oeMES0KFtcCCKCGBJJehlVAm6Sf6s1IERmDFyOItNnBA48E1K46cj6RHInSzQ651WVfS+AlTLt902C9gdtXWiAN4Oh73OcYEAnGW2T57s6jlyrx63JO9PKvqTNYCwDMmfcDghbpiv8Pk7++hTlg952Q9B8XYgqytQIQ5eRPNAmzbDE2BfS8BlIWhsD0bdgiNdM4BAq4EDIG8Q14dovtH3IKi12IVZNL5EH/FjE2QXIhsPv+Z7mRcsmOUkitHA9vR2ttejsFZdgzPuO4G43G3U+7i5yWLhYYEkYHqI6fN31iK1DtL6MgWRb3AAVoXzTPVYq9u8BquB1SNUJ2ePpM/J4ZuUPSzgYRGWwqDJ13cpuxUG0kDlCNbaViZ77QkCQZcsJ2r8s6j4+sLuHgLnd/6fDr8h8Oit197hBFWVtlfZzpMXRk+PK79QJxSCcx0j6AvjOmUhgL80R/OoJWs2", {
  engineLocation: "https://cdn.jsdelivr.net/npm/scandit-sdk@5.x/build/",
})
  .then(() => {
    return ScanditSDK.BarcodePicker.create(document.getElementById("scandit-barcode-picker"), {
      // enable some common symbologies
      scanSettings: new ScanditSDK.ScanSettings({ enabledSymbologies: ["ean8", "ean13", "upca", "upce"],playSoundOnScan: true,
  vibrateOnScan: true, }),
    });
  })
  .then((barcodePicker) => {
    // barcodePicker is ready here, show a message every time a barcode is scanned
    barcodePicker.on("scan", (scanResult) => {
    barcodePicker.destroy()
    location.href = '/product/' + scanResult.barcodes[0].data + "/";
    });
  });


// create personalised message on homescreen banner
function createWelcome() {
  var username = sessionStorage.getItem('username')
  document.getElementById("welcome-message").innerHTML = "Welcome, " + username + "!"
}

// check if user is logged in and create the welcome message on the banner
window.onload = function() {
  checkLogin();
  createWelcome();

};

</script>
<%- include('partials/footer.ejs') %>
