<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<style>
    .invalid-feedback {
        margin-top: 0;
    }
</style>
<%# Start code to determine the origin of the user %>
<% if(didLogOut == 'true'){ %> <%# if user came to this page because they logged out, show this alert %>
<div class="alert alert-warning" role="alert" style="margin-bottom:0px;">
    You've just been logged out! Please log-in to continue using Scan-N-Go
</div>
<% } %>
<% if(didLogOut == 'basketError'){ %> <%# if user came to this page because they werent logged in and tried to access the basket page, show this alert %>
<div class="alert alert-warning" role="alert" style="margin-bottom:0px;">
    Oops! You can't access the basket page if your not logged in. Log-in to access the full functionality of
    Scan-N-Go
</div>
<% } %>
<%# End code to determine the origin of the user %>

<div id="logreg-forms">

    <!-- Login form -->
    <form class="form-signin" id="login-form">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Login</h1>
        <input type="text" name="username-input" id="inputEmail" class="form-control" placeholder="Your Username" required>
        <input type="password" id="inputPassword" name="password-input" class="form-control" placeholder="Your password" required>
        <button class="btn btn-success btn-block" type="submit">Login</button>
    </form>
    <a href="#" onclick="showRegistrationContainer();" class="link-light" style='text-align:center;padding-bottom:10px'>Register
        an
        account</a>

    <div id='registrationContainer' style="display:none">
        <hr>
        <h3 style="text-align: center">
            <small class="text-muted ">Register</small>
        </h3>
        <!-- Registration form -->
        <form style='width:95%' class="form-signin needs-validation" id="register-form" novalidate>

            <div class="row">

                <div class="col" style="margin-bottom:6px;padding-left: 5px;padding-right: 5px;">
                    <input type="text" class="form-control" name="fname-register" id="fname-register" placeholder="First name" required>
                    <!--<div class="valid-feedback">
                      Looks good!
                    </div>-->
                    <div class="invalid-feedback feedback-pos">
                        Please input your first name
                    </div>
                </div>


                <div class="col" style="margin-bottom:6px;padding-left: 5px;padding-right: 5px;">
                    <input type="text" class="form-control" name="lname-register" id="lname-register" placeholder="Last name" required>
                    <!--<div class="valid-feedback">
                      Looks good!
                    </div>-->
                    <div class="invalid-feedback feedback-pos">
                        Please input your last name
                    </div>
                </div>


            </div>

            <div class="row" style="padding: 0 5px;">
                <div style="margin-bottom:6px;" class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                    <input placeholder='Username' type="text" class="form-control" id="registerUser" pattern="[^' ']+" name="username-register" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please choose a username (No spaces allowed!)
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

            </div>


            <div class="row" style="margin-bottom:6px;padding: 0 5px;">
                <input type="email" name="email-register" id="registerEmail" class="form-control" placeholder="Email Address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a-z]{2,4}$" required>
                <!--<div class="valid-feedback feedback-pos">
                    Looks good!
                  </div>-->
                <div class="invalid-feedback feedback-pos">
                    Please input valid email address
                </div>
            </div>

            <div class="row" style="margin-bottom:6px;padding: 0 5px;">
                <input type="password" id="registerPassword" pattern="[^' ']+" name="password-register" class="form-control"
                       placeholder="Password" required>
                <div class="invalid-feedback feedback-pos">
                    Please choose a valid password (No whitespace allowed!)
                </div>
            </div>

            <div class="row" style="margin-bottom:6px;padding: 0 5px;">
                <input type="password" id="registerPasswordRetype" name="password-register-retype" class="form-control"
                       placeholder="Confirm Password" required> <!-- oninput="check(this)"-->
                <div class="invalid-feedback feedback-pos">
                    Please confirm passwords match
                </div>
                <div class="valid-feedback feedback-pos">
                    Passwords match!
                </div>
            </div>

            <div class="row" style="margin-bottom:6px;padding: 0 5px;">
                <input class="form-control" type="file" id="formFile" accept="image/*" required>
                <div class="invalid-feedback">
                    You must upload a personal image to create an account.
                </div>
                <div class="valid-feedback feedback-pos">
                    Looks great!
                </div>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                    Agree to terms and conditions
                </label>

                <div class="invalid-feedback">
                    You must agree before submitting
                </div>
            </div>

            <div class="row" style="padding: 0 5px;">
                <button style="margin-top:15px;background-color:#630436" class="btn btn-primary btn-block" type="submit" id="btn-register"><i class="fas fa-user-plus"></i>Sign up New Account</button>
            </div>
    </form>
    </div>
</div>
<%- include('partials/footer.ejs') %>

