<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>

body {
    padding-bottom:100px
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
}
.tag {
    display: inline-block;
    padding: 3px 7px;
    background: #f2f2f2;
    border: 1px solid #eee;
    border-radius: 3px;
    margin-top: 4px;
    margin-right: 2px;
    font-size: 85%;
}
.card-product-grid .bottom-wrap {
    padding: 18px;
    border-top: 1px solid #e4e4e4;
}
.card-product-grid .info-wrap {
    overflow: hidden;
    padding: 18px 20px;
}

.btn-primary {
  background-color: #630436;
  color:#FFF;
  border-color: #630436;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-default {
  background-color: #fff;
  color:#630436;
  border-color: #630436;
 }
a:not([href]):not([tabindex]) {
    color:#fff;
}
.btn-outline-primary {
    background-color: #630436;
    color:#FFF;
    border-color: #630436;
}
.btn-outline-primary:hover, .btn-outline-primary.active {
    color:#630436;
    border-color: #630436;
    background-color: transparent;
    background-image: none;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color:#630436;
    border-color: #630436;
    background-color: transparent;
    background-image: none;
}
.searchproduct {
    margin-left: 10px;
}

.filtersidebar {
    margin-bottom: 50px;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
.creditcarddiv {
    position: fixed;
    bottom: 40px;
    width: 100%;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

</style>

<h3 id="user-welcome-message" class="display-4 text-center">Your Digital Receipt</h3>
<p class="lead text-center">Here is a copy of your receipt. Thanks for using Scan-N-Go!</p>

<div class="container">
	<main class="OrderData">
        <!-- Order Cards is Inserted here with JavaScript -->
	</main>
</div>



<script>

function backendServer() {
  const domain = window.location.hostname.toString();
  console.log("Domain: ", domain)
  if (domain == "scanngo-frontend-app.azurewebsites.net") {
    var backendServerURL = "https://scanngo-backend-app.azurewebsites.net/";
  }
  else if ( (domain == "127.0.0.1") || (domain == "localhost") || (domain == "0.0.0.0") ) {
    var backendServerURL = "http://127.0.0.1:8000/";
    }
  else {
    alert("ERROR: Cannot determine Backend Server (Django) URL");
    }

  console.log('Backend Server URL', backendServerURL)
  return backendServerURL
}

function AccordianFunc(DivID) {
  var x = document.getElementById(DivID.id);

  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

function GetUserOrder() {
    let backendServerURL = backendServer()
    let djangoServer = backendServerURL + "orders/"
    let token = sessionStorage.getItem('access').toString()

    let djangoServer_User = backendServerURL + "api_users/"
    let djangoServer_BasketItems = backendServerURL + "basket_items/"

    var obj = {
      method: 'GET',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json',
        'Origin': '',
        'Host': 'api.producthunt.com',
        'Authorization': 'Bearer ' + token
      },}

    fetch(djangoServer_User, obj)
      .then(response => response.json()) // extract the json from the response you get from the server
      .then(async (data) => {
          let UserData = data;
          detail = UserData[0]
          USERNAME = detail.username;
          USEREMAIL = detail.email;
    })


    console.log("sending data to ",djangoServer)
    fetch(djangoServer, obj)
      .then(response => response.json()) // extract the json from the response you get from the server
      .then(async (data) => {

          let UserOrderData = data;
          console.log("log",UserOrderData)
          for (var i = 0; i < UserOrderData.length; i++) {
              console.log(UserOrderData[i]);

              let orderarticle = document.createElement("article");
              orderarticle.className = "card orderarticle";
              let preorderarticle = document.getElementsByClassName("OrderData");
              preorderarticle[0].appendChild((orderarticle));

              let cardheader = document.createElement("button");
              cardheader.className = "card-header cardheader accordion";
              var DivID = "AccordianFunc(ACC" + i+")";
              cardheader.setAttribute('onclick',DivID)
              let precardheader = document.getElementsByClassName("orderarticle");
              precardheader[i].appendChild((cardheader));

              let preheaderOrderID = document.getElementsByClassName("cardheader");
              let headerOrderID = document.createElement("strong");
              headerOrderID.className = "d-inline-block mr-3 headerOrderID";
              headerOrderID.appendChild(document.createTextNode("Order ID: " + UserOrderData[i].id));
              preheaderOrderID[i].appendChild((headerOrderID));

              let headerOrderDate = document.createElement("span");
              headerOrderDate.className = "d-inline-block mr-3 headerOrderDate";
              const orderdate = new Date(UserOrderData[i].date_ordered); // 1 for February
              const dateFormatter = new Intl.DateTimeFormat('en-IE');
              headerOrderDate.appendChild(document.createTextNode("Order Date: " + dateFormatter.format(orderdate)));
              preheaderOrderID[i].appendChild((headerOrderDate));

              let accordianBody = document.createElement("div");

              if (i == 0) {
                accordianBody.className = "accordianBody panel w3-show";
                } else {
                  accordianBody.className = "accordianBody panel w3-hide";
                }
              accordianBody.setAttribute('id', 'ACC'+i)
              let preaccordianBody = document.getElementsByClassName("orderarticle");
              preaccordianBody[i].appendChild((accordianBody));

              let cardBody = document.createElement("div");
              cardBody.className = "card-body cardBody";
              let precardBody = document.getElementsByClassName("accordianBody");
              precardBody[i].appendChild((cardBody));

              let cardrow = document.createElement("div");
              cardrow.className = "row cardrow";
              let precardrow = document.getElementsByClassName("cardBody");
              precardrow[i].appendChild((cardrow));

              let precardrows = document.getElementsByClassName("cardrow");
              let deliveryrow = document.createElement("div");
              deliveryrow.className = "col-md-8 deliveryrow";
              precardrows[i].appendChild((deliveryrow));

              let paymentrow = document.createElement("div");
              paymentrow.className = "col-md-4 paymentrow";
              precardrows[i].appendChild((paymentrow));

              let deliverytitle = document.createElement("h6");
              deliverytitle.className = "text-muted deliverytitle";
              deliverytitle.appendChild(document.createTextNode("Delivery"));
              let predeliverytitle = document.getElementsByClassName("deliveryrow");
              predeliverytitle[i].appendChild((deliverytitle));

              let predeliveryinfo = document.getElementsByClassName("deliveryrow");
              let deliveryUser = document.createElement("p");
              deliveryUser.className = "deliveryUser";
              deliveryUser.appendChild(document.createTextNode("Username: " + USERNAME));
              predeliveryinfo[i].appendChild((deliveryUser));

              let deliveryEmail = document.createElement("p");
              deliveryEmail.className = "deliveryEmail";
              deliveryEmail.appendChild(document.createTextNode("Email: " + USEREMAIL));
              predeliveryinfo[i].appendChild((deliveryEmail));

              let paymenttitle = document.createElement("h6");
              paymenttitle.className = "text-muted paymenttitle";
              paymenttitle.appendChild(document.createTextNode("Payment"));
              let prepaymenttitle = document.getElementsByClassName("paymentrow");
              prepaymenttitle[i].appendChild((paymenttitle));

              let prepaymentinfo = document.getElementsByClassName("paymentrow");
              let paymentinfo = document.createElement("p");
              paymentinfo.className = "paymentinfo text-success";
              paymentinfo.appendChild(document.createTextNode("Digital Payment"));
              prepaymentinfo[i].appendChild((paymentinfo));

              let paymentTotal = document.createElement("p");
              paymentTotal.className = "paymentTotal grandpricetotal-"+UserOrderData[i].id;
              paymentTotal.appendChild(document.createTextNode("Total Order: €"));
              prepaymentinfo[i].appendChild((paymentTotal));

<<<<<<< HEAD

              let receipttable = document.createElement("div");
              receipttable.className = "table-responsive receipttable";
              let prereceipttable = document.getElementsByClassName("orderarticle");
              prereceipttable[i].appendChild((receipttable));

              let receiptTable = document.createElement("table");
              receiptTable.className = "table-hover receiptTable";
=======
              let receipttable = document.createElement("div");
              receipttable.className = "table-responsive receipttable";
              let prereceipttable = document.getElementsByClassName("accordianBody");
              prereceipttable[i].appendChild((receipttable));

              let receiptTable = document.createElement("table");
              receiptTable.className = "table table-hover receiptTable";
>>>>>>> cf2b52dc6897c5d1c4e2bb760dd1155f2f9f5402
              let prereceiptTable = document.getElementsByClassName("receipttable");
              prereceiptTable[i].appendChild((receiptTable));

              let Tablebody = document.createElement("tbody");
<<<<<<< HEAD
              Tablebody.className = "Tablebody";
              let preTablebody = document.getElementsByClassName("receiptTable");
              preTablebody[i].appendChild((Tablebody));


=======
              Tablebody.className = "Tablebody-"+ UserOrderData[i].id;
              let preTablebody = document.getElementsByClassName("receiptTable");
              preTablebody[i].appendChild((Tablebody));

>>>>>>> cf2b52dc6897c5d1c4e2bb760dd1155f2f9f5402
              await fetch(djangoServer_BasketItems, obj)
                  .then(BasketItems_response => BasketItems_response.json()) // extract the json from the response you get from the server
                  .then(basketdata => {
                      let UserBasketItemData = basketdata;
                      let grandtotal = 0
                      for (var j = 0; j < UserBasketItemData.length; j++) {
                           if (UserBasketItemData[j].basket_id_num == UserOrderData[i].basket_id_num) {

                              let Tablebodyitem = document.createElement("tr");
                              Tablebodyitem.className = "Tablebodyitem-"+UserBasketItemData[j].id;
                              let preTablebodyitem = document.getElementsByClassName("Tablebody-"+ UserOrderData[i].id);
                              preTablebodyitem[0].appendChild((Tablebodyitem));

                              let preTableitem = document.getElementsByClassName("Tablebodyitem-"+UserBasketItemData[j].id);
                              let Tableimage = document.createElement("td");
                              Tableimage.className = "Tableimage-"+UserBasketItemData[j].id;
                              Tableimage.setAttribute("width", "65");
                              preTableitem[0].appendChild((Tableimage));

                              let productimage = document.createElement('img');
                              productimage.className = "img-xs border productimage-"+UserBasketItemData[j].id;
                              productimage.setAttribute("height","50");
                              productimage.setAttribute("width", "50");
                              productimage.setAttribute("src", backendServer() + "media/"+UserBasketItemData[j].product_image);
                              productimage.setAttribute("alt", "Product Image");
                              productimage.setAttribute("id", "productimage");
                              let preproductimage = document.getElementsByClassName("Tableimage-"+UserBasketItemData[j].id);
                              preproductimage[0].appendChild((productimage));

                              let TBprodinfo = document.createElement("td");
                              TBprodinfo.className = "TBprodinfo-"+UserBasketItemData[j].id;
                              preTableitem[0].appendChild((TBprodinfo));

                              let preprodname = document.getElementsByClassName("TBprodinfo-"+UserBasketItemData[j].id);
                              let prodname = document.createElement("p");
                              prodname.className = "title mb-0 prodname-"+UserBasketItemData[j].id;
                              prodname.appendChild(document.createTextNode(UserBasketItemData[j].product_name));
                              preprodname[0].appendChild((prodname));

                              let prodindvPrice = document.createElement("p");
                              prodindvPrice.className = "price text-muted prodindvPrice-"+UserBasketItemData[j].id;
                              prodindvPrice.appendChild(document.createTextNode("€"+UserBasketItemData[j].product_price.toFixed(2)));
                              preprodname[0].appendChild((prodindvPrice));

                              let TBprodqty = document.createElement("td");
                              TBprodqty.className = "TBprodqty-"+UserBasketItemData[j].id;
                              preTableitem[0].appendChild((TBprodqty));

                              let preprodqty = document.getElementsByClassName("TBprodqty-"+UserBasketItemData[j].id);
                              let prodtotalprice = document.createElement("p");
                              prodtotalprice.className = "title mb-0 prodtotalprice-"+UserBasketItemData[j].id;
                              prodtotalprice.id = "prodtotalprice-"+UserBasketItemData[j].id;
                              prodtotalprice.appendChild(document.createTextNode("Total: €"+ (UserBasketItemData[j].product_price * UserBasketItemData[j].quantity).toFixed(2)));
                              preprodqty[0].appendChild((prodtotalprice));

                              let prodqty = document.createElement("p");
                              prodqty.className = "price text-muted prodindvPrice-"+UserBasketItemData[j].id;
                              prodqty.appendChild(document.createTextNode("Quantity: "+UserBasketItemData[j].quantity));
                              preprodqty[0].appendChild((prodqty));

                              let TBproddetails = document.createElement("td");
                              TBproddetails.className = "TBproddetails-"+UserBasketItemData[j].id;
                              preTableitem[0].appendChild((TBproddetails));

                              let preproddetailsbtn = document.getElementsByClassName("TBproddetails-"+UserBasketItemData[j].id);
                              let proddetailsbtn = document.createElement("a");
                              proddetailsbtn.setAttribute("href", "/product/" +UserBasketItemData[j].product_id_num)
                              //proddetailsbtn.className = "btn btn-light proddetailsbtn-"+UserBasketItemData[j].id;
                              proddetailsbtn.className = "btn btn-outline-primary proddetailsbtn-"+UserBasketItemData[j].id;
                              proddetailsbtn.appendChild(document.createTextNode("Details"));
                              preproddetailsbtn[0].appendChild((proddetailsbtn));

                              grandtotal = UserBasketItemData[j].product_price * UserBasketItemData[j].quantity + grandtotal
                           }
                      }
                      let pricetotal = document.getElementsByClassName("grandpricetotal-"+UserOrderData[i].id);

                      pricetotal[0].appendChild(document.createTextNode(grandtotal.toFixed(2)));
                  })

              }
          })
      }
GetUserOrder()


</script>
<%- include('partials/footer.ejs') %>
