<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script>
checkLogin()
function backendServer() {
    url = window.location.href;
    let domain = (new URL(url));
    if (domain.hostname == "scanngo.ie") {
      var backendServerURL = "https://www.backend.scanngo.ie/";
    } else if (domain.hostname == "www.scanngo.ie") {
      var backendServerURL = "https://www.backend.scanngo.ie/";
    } else if ((domain.hostname == "127.0.0.1") || (domain.hostname == "localhost") || (domain.hostname == "0.0.0.0")) {
      var backendServerURL = "http://127.0.0.1:8000/";
    } else if (domain.hostname == "192.168.1.20") {
      var backendServerURL = "http://192.168.1.20:8000/";
    } else {
      alert("ERROR: Cannot determine Backend Server (Django) URL");
    }
    //console.log("domain ", domain)
    //console.log('Backend Server URL', backendServerURL)
    return backendServerURL
  }
</script>
<style>

body {
    padding-bottom:100px
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
}
.tag {
    display: inline-block;
    padding: 3px 7px;
    background: #f2f2f2;
    border: 1px solid #eee;
    border-radius: 3px;
    margin-top: 4px;
    margin-right: 2px;
    font-size: 85%;
}
.card-product-grid .bottom-wrap {
    padding: 18px;
    border-top: 1px solid #e4e4e4;
}
.card-product-grid .info-wrap {
    overflow: hidden;
    padding: 18px 20px;
}

.btn-primary {
  background-color: #630436;
  color:#FFF;
  border-color: #630436;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-default {
  background-color: #fff;
  color:#630436;
  border-color: #630436;
 }
a:not([href]):not([tabindex]) {
    color:#fff;
}
.btn-outline-primary {
    background-color: #630436;
    color:#FFF;
    border-color: #630436;
}
.btn-outline-primary:hover, .btn-outline-primary.active {
    color:#630436;
    border-color: #630436;
    background-color: transparent;
    background-image: none;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color:#630436;
    border-color: #630436;
    background-color: transparent;
    background-image: none;
}
.searchproduct {
    margin-left: 10px;
}

.filtersidebar {
    margin-bottom: 50px;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
.creditcarddiv {
    position: fixed;
    bottom: 40px;
    width: 100%;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}


.purple{
  background: #900C3F;
}

.center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.pulse {
  animation: pulse-animation 0.8s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
/*clock style*/

.clock {
  position: absolute;
  text-align: center;
  overflow: hidden;
}

.clock span {
  position: relative;
  display: inline-block;
  width: 50px;
}

.clock span:nth-child(2),
.clock span:nth-child(4) {
  border-right: 1px solid #aaa;
}

.clock span:before,
.clock span:after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
  transition: transform 0.75s;
}

.clock span:before {
  content: attr(data-old);
  z-index: 1;
  transform: translate3d(0, 0, 0);
}

.clock .flip:before {
  transform: translate3d(0, 102.5%, 0);
}

.clock span:after {
  content: attr(data-now);
  z-index: 2;
  transform: translate3d(0, -102.5%, 0);
}

.clock .flip:after {
  transform: translate3d(0, 0, 0);
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px #0000001a;
}


</style>
<h3 id="user-welcome-message" class="display-4 text-center" >Your Digital Receipt</h3>
<p class="lead text-center"  >Here is a copy of your receipt. Thanks for using Scan-N-Go!</p>

<div class="container">
	<main class="OrderData">
        <!-- Order Cards is Inserted here with JavaScript -->
	</main>
</div>



<script>
checkLogin()
</script>
<script src="/javascripts/getOrderInfo.js"></script>
<%- include('partials/footer.ejs') %>
