body {
  background-color: #f7fafc !important;
  padding-bottom: 70px;
}

a {
  color: #00B7FF;
}

.scan-n-go-content {
  max-width: 1200px;
  margin: auto;
  padding-top: 20px;
}

#scanning-area {
  height: 380px;
  min-width: 350px;
  background-color: antiquewhite;
  max-width: 90%;
  margin: auto;
}
