<header style="background-color: #266a69;">
    <nav class="navbar navbar-expand-lg" style="background-color: #266a69; max-width: 1600px; margin: auto; padding-top: 30px;padding-bottom: 30px;> <!-- Start navbar code -->
        <div class="container-fluid"> <!-- Navbar container (1200px width)-->
            <!-- First navbar item (Menu dropdown) -->


            <!-- Second navbar item (Brand icon) -->
            <a class="navbar-brand" href="/admin"><img src="/images/logo.png" height="30" alt=""></a>


        </div>
    </nav> <!-- End navbar code -->
</header>
<script>
  // Javascript to
  function backendServer() {
        url = window.location.href;
        let domain = (new URL(url));
        if (domain.hostname == "scanngo.ie") {
          var backendServerURL = "https://www.backend.scanngo.ie/";
        } else if (domain.hostname == "www.scanngo.ie") {
          var backendServerURL = "https://www.backend.scanngo.ie/";
        } else if ((domain.hostname == "127.0.0.1") || (domain.hostname == "localhost") || (domain.hostname == "0.0.0.0")) {
          var backendServerURL = "http://127.0.0.1:8000/";
        } else if (domain.hostname == "192.168.1.20") {
          var backendServerURL = "http://192.168.1.20:8000/";
        } else {
          alert("ERROR: Cannot determine Backend Server (Django) URL");
        }
        //console.log("domain ", domain)
        //console.log('Backend Server URL', backendServerURL)
        return backendServerURL
  }
  function GetStoreDetails() {
      let backendServerURL = backendServer();
      if(sessionStorage.getItem("owned_store") === null ) {
          storenumber = "3"
      } else {
          storenumber = sessionStorage.getItem("owned_store")
      }
      let djangoServer_User = backendServerURL + "stores/" + storenumber

      let token = sessionStorage.getItem('access').toString()

      var obj = {
          method: 'GET',
          headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json',
              'Origin': '',
              'Authorization': 'Bearer ' + token
          },
      }
      fetch(djangoServer_User, obj)
          .then(response => response.json()) // extract the json from the response you get from the server
          .then(async (data) => {
              console.log(data)
              document.getElementById("storename").innerHTML= (data.name);
              document.getElementById("storeaddress").innerHTML= (data.address_line1 + ", " + data.address_line2 + ", " + data.eir_code + ", " + data.county);
              document.getElementById("storelogo").setAttribute("src", data.storelogo_image);

          })
  }
GetStoreDetails()
</script>

<!-- Beginning of main content container. Keeps all content from .ejs files in a set width of 1200px -->
<div class="scan-n-go-admin-content" id="scan-n-go-content-container">