
<footer class="fixed-bottom" style="background-color: #630436; padding-top: 18px;">
<p class="text-center text-white">&copy; Copyright 2021 - Scan N Go</p>
</footer>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><script src="javascripts/loginScript.js"></script>
<script>

  var isLoggedIn = isLoggedIn();
  console.log(isLoggedIn)
</script>
</body>
</html>
