</div>
<footer class="navbar-fixed-bottom" style="background-color: #630436; padding-top: 18px;padding-bottom: 18px;">
<p style='margin-bottom:0' class="text-center text-white">&copy; Copyright 2021 - Scan N Go</p>
</footer>
<script src="/javascripts/quagga.min.js"></script>
<script src="/javascripts/logout.js"></script>
<script src="/javascripts/filtering.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><script src="javascripts/loginScript.js"></script>
<script src="/javascripts/basketPreview.js"></script>

<script>

  var isLoggedIn = isLoggedIn();
  console.log("Is the user logged in? -> ", isLoggedIn)
  if (isLoggedIn == true) {
    loadBasketPreview()
    let label = document.getElementById("lblCartCount")
    label.innerHTML = "?"
    let spinnerdiv = document.createElement('div');
    spinnerdiv.className = "spinner-border text-light";
    spinnerdiv.setAttribute('role', 'status');
    let spandiv = document.createElement('span');
    spandiv.className = "sr-only";
    spandiv.innerHTML = "Loading..."
    spinnerdiv.appendChild(spandiv)
    label.appendChild(spinnerdiv)

  }
</script>
</body>
</html>
