<header style="background-color: #630436;">
    <nav style='padding-left: 0;padding-right: 0;min-height: 65px' class="navbar-dark navbar " style="min-height: 62px;background-color: #630436; max-width: 1200px; margin: auto;"> <!-- Start navbar code -->
        <div style='max-width: 1200px' class="container-fluid"> <!-- Navbar container (1200px width)-->

            <!-- First navbar item (Menu dropdown) -->
            <button id="navbarDropdownMenuLink" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <!-- Second navbar item (Brand icon) -->
            <a class="navbar-brand" href="/"><img src="/images/logo.png" height="30" alt=""></a>

            <!-- Third navbar item (Cart Icon) -->
            <ul  class="navbar-nav ml-auto">
                <li class="nav-item" id='basket-navbar-icon'>
                    <a class="nav-link text-white" href="/basket"><img src="/images/cart.png" height="30" alt=""
                                                                       style="border-left: 1.5px solid #FFFFFF45;padding-left: 8px;"><Label
                                ID="lblCartCount" runat="server" CssClass="badge badge-warning"
                                ForeColor="White">X</label></a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul style='padding: 0 20px;'class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a style='color: white' id='hamburger-menu-home' class="nav-link" href="/">Product Scanner</a>
                    </li>
                    <li class="nav-item">
                        <a style='color: white' id='hamburger-menu-basket' class="nav-link" href="/basket">Your Basket</a>
                    </li>
                    <li class="nav-item">
                        <a style='color: white' id='hamburger-menu-orders' class="nav-link" href="/receipt">View Orders</a>
                    </li>
                    <li class="nav-item">
                        <a style='color: white' id='hamburger-menu-logout' class="nav-link" href="#" onclick="displayLogoutMsg()">Logout</a>
                    </li>
                </ul>
            </div>
    </nav> <!-- End navbar code -->
</header>

<script>
    // Javascript to automatically animate the dropdown of the navbar menu
    // Code taken from stackoverflow.com/questions/12115833/adding-a-slide-effect-to-bootstrap-dropdown
    $('.dropdown').on('show.bs.dropdown', function () {
        $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
    });
    $('.dropdown').on('hide.bs.dropdown', function () {
        $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
    });
</script>

<!-- Beginning of main content container. Keeps all content from .ejs files in a set width of 1200px -->
<div class="scan-n-go-content" id="scan-n-go-content-container">
