<!DOCTYPE html>
<html>
  <head>
    <!-- Standard HTML <head> items -->
    <title><%= title %> | Scan N Go</title>
    <meta charSet="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Importing Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <!-- Importing our own handmade stylesheets -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/loginStyles.css">

    <!-- Importing Bootstrap & Jquery Frameworks -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/css/bootstrapvalidator.min.css ">


    <!-- Importing our own handmade JavaScript Files -->
    <script src="/javascripts/loginScript.js"></script>
    <script src="/javascripts/logout.js"></script>
    <script src="/javascripts/filtering.js"></script>
    <script src="/javascripts/setStore.js"></script>
    <script src="/javascripts/loginUser.js"></script>


    <!-- Icon to display logo in tab preview -->
    <link rel="icon" href="/images/squareLogo.png">
    <script src="https://use.fontawesome.com/591d47d7db.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/scandit-sdk@5.x"></script>

  </head>
<body>

