<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> | Scan N Go</title>
    <meta charSet="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/loginStyles.css">
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascripts/loginScript.js"></script>
    <script src="/javascripts/quagga.min.js"></script>
    <script src="/javascripts/logout.js"></script>
    <script src="/javascripts/filtering.js"></script>

    <link rel="icon" href="/images/squareLogo.png">

  </head>
<body>

